body {
    background-image: url('../assets/images/home4.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}





/* container */
.signup__container {
    width: 100%;
    max-width: 400px;
    margin: 80px auto;
    padding: var(--card-padding);
    background-color: var(--bg-secondary);
    border-radius: var(--form-radius);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* welcome */
.signup__welcome {
    font-size: var(--font-small);
    color: var(--text-secondry);
    margin-bottom: 0.5rem;
}

/* title */
.signup__title {
    font-size: var(--font-h2);
    color: var(--text-primary);
    margin-bottom: 1rem;
}

/* form */
.signup__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* field */
.signup__field {
    text-align: left;

}



/* label */
.signup__label {
    font-size: var(--font-small);
    color: var(--Headings-gold);
    margin-bottom: 5px;
    display: block;
}

/* input */
.signup__input {
    width: var(--form-input-width);
    padding: var(--form-input-padding);
    border-radius: var(--form-input-radius);
    border: 1px solid var(--form-border);
    outline: var(--form-input-outline);
    background-color: var(--form-bg);
    color: var(--form-text);
    transition: var(--transition-speed);
}

/* focus */
.signup__input:focus {
    border: 1px solid var(--Headings-gold);
}

/* password wrapper */
.signup__row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}


/* show button */
.signup__toggle {
    padding: var(--form-input-padding);
    background-color: var(--highlight);
    color: var(--text-primary);
    border: none;
    border-radius: var(--form-input-radius);
    cursor: pointer;
    margin-left: 0.7rem;
}

.signup__toggle:hover {
    opacity: 0.8;
}



/* button */
.signup__btn {
    padding: var(--btn--padding);
    border: none;
    border-radius: var(--btn-radius);
    background-color: var(--highlight);
    color: var(--text-primary);
    font-size: var(--font-small);
    cursor: pointer;
    transition: var(--transition-speed);
    margin-top: 1rem;
    width: 100%;
}

.signup__btn:hover {
    opacity: 0.85;
}

/* signup */
.signup__login {
    margin-top: 1rem;
    font-size: var(--font-small);
    color: var(--text-secondry);
    text-align: center;
}

.signup__link {
    color: var(--highlight);
    text-decoration: none;
}

.signup__link:hover {
    text-decoration: underline;
}

/* layout sidebar  */
.layout-sidebar .signup__container {

    background-color: var(--bg-secondary);
}