
:root {
    
    --font-primary: 'Inter', sans-serif;
    --font-heading: 'Montserrat', sans-serif;

    --bg-dark: #161733;
     --accent-gold: #c39858;
     --highlight-gold: #d8c18f;
     --card-blue: #32385a;
     --dark-accent: #392318;

    }


* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {

    list-style: none;
}

a {
    text-decoration: none;
}




body {
    font-family: var(--font-primary);
    background-color: var(--bg-dark);

   
}


h1, h2, h3, .section-title {
    font-family: var(--font-heading);
    font-weight: 800;
    text-transform: uppercase; 
}

.navbar {
 position: fixed; 
 height: 100px;
 width: 100%;
 
 
}

.navbar__nav {

    display: flex;
    background-color: var(--gold-accent);
    
    
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #ccc;
    max-width: 1100px;
    margin: auto;
}

.navbar__logo {

    width: 200px;
    margin: 4px;
    
}

.navbar__links-list {

    display: flex;
    
    padding: 10px;

}
.navbar__link {

    color: var(--highlight-gold);
    font-weight: 500;
    padding: 0 10px;
}
.navbar__addtional-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}