
.btn {
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 4px;
    transition: 0.3s;
}

.btn--primary {
    border: 1px solid var(--highlight-gold);
    color: var(--accent-gold);
}
.btn--secondary {
    border: 1px solid var(--highlight-gold);
    color: var(--accent-gold);
}

.btn--primary:hover,
.btn--secondary:hover {
    background-color: var(--card-blue);
    border: 1px solid var(--card-blue);
    color:var(--accent-gold);
}


/*Main content */
.main-content {
    display: flex;
    flex: 1; 
}



/* Content Block  */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search Block*/
.search {
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.search__input{
    color: #d8c18f;
    width: 550px;
    padding: 10px;
    border: 1px solid var(--theme1-Headings-gold);
    border-radius: 20px;
    background-color: rgba(19, 18, 18, 0.596);
}
::placeholder{
    color:var(--theme1-Headings-gold);
    font-style:italic;
    font-family: var(--font-primary);
}

.text-section {
    margin: 10px ;
    margin-top: 10px;
}

.text-section__title {
    padding: 40px;
    font-size: 60px;
    text-align: center;
    color:var(--theme1-Headings-gold);

}
.text-section__title:hover {
    transition: all 0.3 ;
    color:var(--theme2-text-secondry);
    cursor:context-menu;
}

/* Info Card Block */
.info-card {
    padding: 20px;
    border: 1px solid var(--theme1-Headings-gold);
    border-radius: 20px;
    background-color: rgba(19, 18, 18, 0.596);
    text-align: center;
}

.info-card__text {
    color: white;
    font-size: 24px;
    line-height: 1.6;
    font-family:var(--font-primary);
}

.video-container {
    margin:auto;
    margin-top: 50px;
    width: 90%; 
    max-width: 700px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.video-container video {
    width: 100%;
    display:block;
}

/* Footer Block */
.footer {
    margin-top: auto;
    padding: 10px;
    background-color: var(--highlight-gold);
    width: 100%;
    text-align: center;
}

.footer__copyright {
    color: var(--highlight-gold);
}


body {
  
    background-image: url('../assets/images/home4.jpg'); 
    background-size:cover;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    color: white; 
}



