

body {
  
    background-image: url('../assets/images/home4.jpg'); 
    background-size:cover;
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat; 
    margin: 0;
    padding: 0;
    
}

.btn {
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 4px;
    transition: 0.3s;
}

.btn--primary {
    border: 1px solid var(--highlight-gold);
    color: var(--accent-gold);
}
.btn--secondary {
    border: 1px solid var(--highlight-gold);
    color: var(--accent-gold);
}

.btn--primary:hover,
.btn--secondary:hover {
    background-color: var(--card-blue);
    border: 1px solid var(--card-blue);
    color:var(--accent-gold);
}


/*Main content */
.main-content {
    display: flex;
    flex: 1; 
}



/* Content Block  */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Search Block*/
.search {
    margin:0 2rem 4rem;
    
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.search__input{
    color: #d8c18f;
   
    padding: 10px;
    border: 1px solid var(--Headings-gold);
    border-radius: 8px;
    background-color: rgba(19, 18, 18, 0.596);
    width: 90%;
    transition: all 0.3s ease-in-out;
    
}
.search__input:focus-within {
    outline: none;
    border-color: var(--highlight) ; 
    width: 100%;
}
::placeholder{
    color:var(--theme1-Headings-gold);
    font-style:italic;
    font-family: var(--font-primary);
}

.text-section {
    margin: 10px ;
    margin-top: 10px;
}

.text-section__title {
    padding: 40px;
    font-size: 60px;
    text-align: center;
    color:var(--Headings-gold);
    transition: all 0.3s ease-in-out ;
    cursor:context-menu;
}
.text-section__title:hover {
    
    color:var(--text-secondry);
    
}

/* Info Card Block */
.info-card {
    padding: 20px;
    border: 1px solid var(--Headings-gold);
    border-radius: 8px;
    background-color: rgba(19, 18, 18, 0.596);
    text-align: center;
    margin:0 2rem 4rem;
    
}

.info-card__text {
    color: var(--text-secondry);
    font-size: 24px;
    line-height: 1.6;
    font-family:var(--font-primary);
}

.video-container {
    margin:4rem auto;
  
    width: 100%; 
    max-width: 700px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
}






