:root { 
    --font-primary: 'Inter', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
    --bg-dark: #161733;
    --accent-gold: #c39858;
    --highlight-gold: #d8c18fce;
    --card-blue: #32385a;
    --dark-accent: #392318;
}

/* 1. Global Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    /* font-family: */
}

.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*2. Header Block */
.header {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid var(--highlight-gold);
}

.header__name {
    padding-left: 30px;
    font-size: 32px;
    font-weight: bold;
    color: var(--bg-dark);
}

.header__actions {
    display: flex;
    gap: 20px;
}

/* 3. Button Block */
.btn {
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 4px;
    transition: 0.3s;
}

.btn--primary {
    border: 1px solid var(--highlight-gold);
    color: var(--accent-gold);
}
.btn--secondary {
    border: 1px solid var(--highlight-gold);
    color: var(--accent-gold);
}

.btn--primary:hover,
.btn--secondary:hover {
    background-color: var(--card-blue);
    border: 1px solid var(--card-blue);
    color:var(--accent-gold);
}


/* 4. Main Layout (The Container) */
.main-content {
    display: flex;
    flex: 1; 
}



/* 6. Content Block (Main Area) */
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* 7. Search Block */
.search {
    margin-bottom: 20px;
    padding: 10px;
}


.search__input{
    width: 550px;
    padding: 10px;
    border: 1px solid var(--accent-gold);
    border-radius: 20px;
}

/* 8. Hero Section Block */
.text-section {
    margin: 20px ;
}

.text-section__title {
    padding: 20px;
    font-size: 65px;
    text-align: center;
    color: white;
}

/* 9. Info Card Block */
.info-card {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.21);
    text-align: center;
}

.info-card__text {
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.3;
}

.video-container {
    margin:auto;
    margin-top: 50px;
    width: 80%; 
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.video-container video {
    width: 100%;
    display:block;
}

/* 10. Footer Block */
.footer {
    margin-top: auto;
    padding: 10px;
    background-color: var(--card-blue);
    width: 100%;
    text-align: center;
}

.footer__copyright {
    color: var(--highlight-gold);
}


body {
    /* مسار الصورة */
    background-image: url('dark-souls-bonfire-3840x2160-18682.jpg'); 

    /* تخلي الصورة تغطي الشاشة بالكامل مهما كان حجم الشاشة */
    background-size: cover; 

    /* تخلي الصورة ثابتة في مكانها لما تعملي سكرول */
    background-attachment: fixed; 

    /* تخلي الصورة دايماً في نص الشاشة */
    background-position: center; 

    /* تمنع تكرار الصورة */
    background-repeat: no-repeat; 

    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    /* إضافة طبقة تعتيم خفيفة عشان الكلام يبان بوضوح */
    color: white; 
}

/* تعديل بسيط للـ Sidebar و الـ Header عشان يمشوا مع الخلفية */
/*.sidebar, .main-header {
    background-color: rgba(255, 255, 255, 0.1); /* خلفية شفافة */
    /*backdrop-filter: blur(10px);  تأثير زجاجي (Glassmorphism) */
    color: white;
}*/

/*.sidebar ul li a, .logo, .btn {
    color: white !important;
    border-color: white !important;
}

.hero-box {
    background-color: rgba(0, 0, 0, 0.4); /* خلفية سوداء خفيفة ورا النص */
   /* border-radius: 15px;
}*/
