.contact__container {

    background-color: var(--bg-secondary);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.contact__title {

    color: var(--Headings-gold);
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}

.contact__paragraph {

    font-family: var(--font-secondery);
    color: var(--Headings-gold);
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.8rem;
    border-bottom: solid 1px #ccc;
}

.contact__form {

    width: 100%;
    flex: 1;
}

.contact-form__title {

    color: var(--text-primary);
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-form__row {

    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.contact-form__input {

    font-family: var(--font-secondery);
    background-color: var(--bg-secondary);
    color: #ccc;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 3px solid var(--bg-primary);
    outline: none;
}

.contact-form__option {

    color: var(--highlight);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 1.4rem;
}

.contact-form__choose {

    display: none;
}

.contact-form__label {

    color: var(--highlight);
    display: inline-block;
    padding: 4px 8px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

.contact-form__choose:checked+.contact-form__label {

    background: var(--Headings-gold);
    transform: scale(1.03);
    border-color: var(--Headings-gold);
}

.contact-form__textarea {


    font-family: var(--font-secondery);
    background-color: var(--bg-secondary);
    color: #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 3px solid var(--bg-primary);
    outline: none;
    transition: 0.3s;
    resize: none;
}

.contact-form__buttons {

    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-form__button {

    font-family: var(--font-secondery);
    background: var(--bg-primary);
    color: var(--text-primary);
    width: 200px;
    padding: 10px;
    font-size: 1.6rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    transition: 0.3s;
}

.contact-form__button:hover {

    background: var(--Headings-gold);
    transform: scale(1.03);
}

aside {

    flex: 1;
    display: flex;
    justify-content: center;
    height: auto;
}

.contact__img {

    width: 100%;
    border-radius: 15px;
    max-width: 500px;
}

@media (max-width: 768px) {

    .contact__container {

        flex-direction: column;
        align-items: center;
    }

    .contact__form,
    aside {

        width: 100%;
    }

    .contact-form__row {

        flex-direction: column;
        gap: 10px;
    }
}