.card {

    padding: 2rem 1.5rem;
    border: 1px solid var(--Headings-gold);
    border-radius: 8px;
    background-color: var(--bg-secondary);
    margin: 2rem 0;
   
  
}
hr {
    border-color: var(--highlight);
}
.card__div {

    display: flex;
    flex-direction: column;
}

.card__div-box {
    border: 1px solid var(--highlight);
    border-radius: 4px;
    margin-bottom: 2rem;
}

.card__title {
    color: var(--Headings-gold);
    text-align: center;
    margin-bottom: 2rem;
}
.card__subtitle {
    color: var(--highlight);
    margin: 2rem 0 2rem 1rem ;
}

.card__list {
    margin-left: 4rem;
    margin-top: 1rem;
    border-left: 2px solid var(--Headings-gold);

    padding: 0 1rem;
}

.card__li {
    color: var(--text-primary);
    margin: 1rem 0;
    font-family: var(--font-secondary);
    font-size: var(--font-body);
}