/* الفايل ده معمول عشان تشوفو الشغل ماشي ازاي  */


.login__form login__container{

    padding: 2rem;
    background-color: var(--bg-secondary);
    border-radius: var(--form-radius);}

.login__container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__welcome {

    font-size: var(--font-h1);
    color: var(--Headings-gold);

}

.login__title {

    font-size: var(--font-h2);
    color: var(--text-primary);
    margin-bottom: 1rem;
}

.login__label {

    color: var(--text-primary);
}

.login__input {

    background-color: transparent;

    padding: 0.5rem;
    width: 90%;
    border-radius: var(--form-radius);
    outline: none;
    border: 1px solid var(--Headings-gold);
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-family: var(--font-secondary);
}

.login__input:focus-within {
    outline: none;
    width: 100%;
}

.login__toggle {

    margin-top: 3rem;
    margin-bottom: 1rem;
    background-color: var(--bg-primary);
    color: var(---text-primary);
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0.25rem 2rem;
    border-radius: var(--form-radius);
    transition: all 0.2s ease;
    font-family: var(--font-primary);
}

.login__toggle:hover {
    scale: 1.01;
    background: var(--Headings-gold);
    color: var(--bg-secondary);
}

.login__signup {

    color: var(--Headings-gold);
}

.login__link {

    color: var(--text-primary);
    text-shadow: 1px;
}
.login {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}